<div class="profile-body">

    <div class="profile-wraper">
        <div class="profile-info">
            <%- include("layouts/info.ejs")  %>
            <hr>
            <div class="user-menu">
                <%- include("layouts/menu.ejs") %>
            </div>
        </div>
        <div class="profile-box"> 
            <div class="box-content">
               <h2></h2>
                <hr>
                <div class="form-wraper">
                    <form action="">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input name="name" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Emial</label>
                            <input name="email" type="text">
                        </div>

                        <div class="form-group">
                            <label for="">Username</label>
                            <input name="username" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Location</label>
                            <input name="location" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Mobile</label>
                            <input name="phone" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Gender</label>
                            <input name="gender" type="text">
                        </div>
                        <div class="form-group">
                            <button>Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>